@page
@model MantenimientoTic.App.Frontend.Pages.cosultarClientesModel
@{
}

<div class="text-center">
    <h3 class="">Consultar Clientes</h3>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Listado actual de clientes</a>.</p>-->
</div>

<div>
    <h4 clas="">Listado Clientes</h4>
    <br>
    <table class="table">
        <thead class="">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Dirección</th>
                <th>Télefono</th>
            </tr>
        </thead>
        @foreach (var persona in Model.Personas)
        {
            <tr>
                <td>@persona.Id</td>
                <td>@persona.Nombre</td>
                <td>@persona.Apellido</td>
                <td>@persona.Email</td>
                <td>@persona.Direccion</td>
                <td>@persona.Telefono</td>
            </tr>
        }

    </table>

</div>